@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@font-face {
    font-family: 'Capiten';
    src: url("CapitenRegular-w18E3.otf") format("opentype");
}

:root {
    --label-width: 500px;
    --label-height: 200px;
    --label-radius: 200px;
    --label-transition: 300ms;

    --primary-color: rgb(28, 28, 28);
    --secondary-color: rgb(232, 232, 232);
}

body {
    font-size:20px;
    margin-left: 20px;
    margin-right: 20px;
    text-indent: 45px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.box {
    background-color: var(--primary-color);
    padding: .75rem;
    border-radius: .5rem;
    box-shadow: .1em .1em 2em var(--secondary-color), .1em .1em 2em var(--secondary-color);
    color: var(--secondary-color);
}

li {
    text-indent: 0px;
}

ol {
    font-weight: bold;
}

p {
    font-weight: 400;
    text-indent: 45px;
    font-family: 'Poppins',sans-serif;
}

red {
    color: red;
}

blue {
    color: blue;
    
}

green {
    color: rgb(0, 205, 0);
}

yellow{
    color: yellow;
}

tot{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline solid black;
    text-underline-position: below;
}

bi {
    font-weight: bold;
    font-style: italic;
}
 
B {
    font-weight: bolder;
}
h1 {
    font-family: 'Capiten',papyrus, fantasy;
    border: 15px solid transparent;
    padding: 15px;
    border-image: url(img/border.png) 30 stretch;
}